{% extends 'main.html' %} 

{% block content %}
<h1>Admin</h1>

<p>{% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}  
               <br/>{{ message }}
          {% endfor %}  
    {% endif %}  
{% endwith %}  </p>


<a href="/database/dp_db_install">Database install</a><br/>
<a href="/database/dp_db_drop">Database drop (All data will be lost, use if neccery)</a><br/>
<!--<a href="/database/dp_db_insert">Insert data to database()</a><br/>-->
<a href="fetch_data.html">Fetch data (not finish yet)</a><br/>
<a href="buildmodel">Build a model</a> <br/>
This is working but can take some time.<br/>
You can do somthing else and come bace later.<br/>
when the model will be duild we give a proprait messege.<br/>
{% endblock %} 