<html>
ּּ<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="google_translate_element"></div> 
      
  <script type="text/javascript"> 
      function googleTranslateElementInit() { 
          new google.translate.TranslateElement(
              {pageLanguage: 'en'}, 
              'google_translate_element');} 
  </script> 
    
  <script type="text/javascript" src= "https://translate.google.com/translate_a/element.js?
      cb=googleTranslateElementInit">
  </script> 
  <nav class="navbar navbar-toggler navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" href="/">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/addnew">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  active" href="/predict">Predict</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin">Admin</a>
      </li>
    </ul>
  </nav>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  
  {% block content %}
  <h1>List:</h1>
  <table class="table" style="text-align: center;">
    <thead>
      <th scope="col">Carat</th>
      <th scope="col">cut</th>
      <th scope="col">Price</th>
      <th scope="col">Deatils</th>
    </thead>
    <tbody>
      {% for i,row in data.iterrows() %}
      <tr>
        <th >{{row.carat}}</th>
        <td>{{row.cut}}</td>
        <td>{{row.price}}</td>
        <td><a href='/details/{{i}}'>more...</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}  
</body>
</html>